[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-watch = "*"
pytest-cov = "*"
v = {editable = true,version = "*"}

[packages]
flask = "*"
requests = "*"
httpie = "*"
flask-migrate = "*"
gunicorn = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
autopep8 = "*"
pytest = "*"
passlib = "*"

[requires]
python_version = "3.7"
