{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Welcome to the Portfolio</h2>
  <div>
    <form action="{{ url_for("company_detail") }}" method="POST">
      {{ form.hidden_tag() }}
      {{ form.name.label }}{{ form.name(size=20) }}
      <input type="submit" name="create_portfolio" id="create_portfolio" value="Go">
    </form>
  </div>
  {% for company in companies %}
    <div class="company">
      <h2>{{company.portfolio.name }}</h2>
      <p>Name: {{ company.name }}</p>
      <p>Trading Symbol: {{ company.company_sym }}</p>
      <p>Website: {{ company.website}}</p>
      <p>Sector: {{ company.sector }}</p>
      <p>Industry: {{ company.industry }}</p>
    </div>
  {% endfor %}
</div>
{% endblock content %}
{% block title %}
<title>Portfolio</title>
{% endblock title %}

